[Unit]
Description=Rithan Link DM Daily PostgreSQL Backup Timer

[Timer]
OnCalendar=*-*-* 02:30:00
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
